<form class="add-new-restaurant">
  <label for="">name</label>
  <input class="form-control" type="text" name="name" value="" #newReastaurantName>
  <label for="">phoneNumber</label>
  <input class="form-control" type="text" name="name" value="" #newReastaurantPhoneNumber>
  <label for="">address</label>
  <input  class="form-control" type="text" name="name" value="" #newReastaurantAddress>
  <label for="">price</label>
  <input  class="form-control" type="text" name="name" value="" #newReastaurantPrice>
  <label for="">review</label>
  <input  class="form-control" type="text" name="name" value="" #newReastaurantReview>
  <label for="">rating</label>
  <input  class="form-control" type="text" name="name" value="" #newReastaurantRating>
  <button class="add-button btn btn-primary btn-block" (click)="addReastaurant(newReastaurantName,newReastaurantPhoneNumber,newReastaurantAddress,newReastaurantPrice,newReastaurantReview,newReastaurantRating)">Add</button>
</form>
